.teams-page {
  margin-top: 70px;
}

.teams-page-bg img {
  width: 100%;
  min-height: 200px;
  object-fit: cover;
}

.section-content {
  display: flex;
  justify-content: center;
  font-family: "Work Sans", sans-serif;
  margin: 2rem 0;
}

.section-content section {
  width: 80%;
}

.section-content section h1 {
  margin-bottom: 1.5rem;
  color: #4564bf;
  font-size: 1.8rem;
}

.section-content section p {
  margin: 0.7rem 0;
  font-size: larger;
  line-height: 1.5rem;
}

@media screen and (max-width: 600px) {
  .section-content section h1 {
    font-size: 1.6rem;
  }
}
